<?xml version="1.0" encoding="UTF-8"?>
 <!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
          "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hkd.mapper.CategoryMapper">

<!-- Category映射 -->
<resultMap id="CategoryResultMap" type="Category">
    <id property="cid" column="id"/>
    <result property="name" column="name"/>
    <result property="descn" column="descn"/>
    
</resultMap>  

<!-- 查询所有类别 -->
<select id="selectAllCategories" resultMap="CategoryResultMap">
    
    select * from category;
</select>



</mapper>